body{
    margin:0px;
}

.container-fluid {
    display: flex;
    width: 100%;
    box-sizing: border-box;
}
ul.demo{
    list-style-type: none;
    margin: 0;
    padding: 15px 15px 15px 30px;
    box-sizing: border-box;
}
.demo li{
    margin: 15px 0px 15px 0px;
}
.sticky a{
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #44485C;
    font-size: 13px;
}
.sticky{
    position: fixed;
    width: 14rem;
    top: 0;
    bottom:0;
    overflow-y: auto;
    margin-top: 50px;}

.sidebarmedium1head-menu{
    background-color: white; 
    padding: 25px 15px 15px 30px; 
    box-sizing: border-box;
    position: fixed;
    width: 14rem;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #090865;
    font-size: 14px;
}
.sidebarmedium1-menu{
    background-color: white;
    width: 14rem;
    float: left;
    bottom: 0; 
}
.content{
    background-color: #EFF3F6;
    width: calc(100% - 14rem);
    float: left;
    display: table;
}
.content p{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #7A7F9A;
    font-size: 12px;
    line-height: 1.4em;
}
.overlay{
    background-color: rgba(0, 0, 0, 10%); 
    width: 100%; 
    bottom: 0; 
    height: 100%; 
    position: absolute; 
    display: none;
}
.sidebarmedium1footer-menu{
    bottom: 0; 
    position: absolute; 
    padding: 15px 15px 15px 30px; 
    box-sizing: border-box;
}

@media(max-width: 960px){
    .sidebarmedium1-menu-sm{
        display: none ;
        width: 20rem;
        position: relative;
        z-index: 1;
    }
    .sidebarmedium1head-menu{
        background-color: white; 
        padding: 25px 15px 15px 30px; 
        box-sizing: border-box;
        position: fixed;
        width: 14rem;
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        color: #090865;
        font-size: 14px;
    }
    #menubutton{
        visibility: visible !important;
    }
    .content{
        background-color: #EFF3F6;
        width: 100% !important;
        float: left;
        position: absolute;
        z-index: -1;
        left: 0;
        right: 0;
    }
    .navbar{
        background-color: #EFF3F6; 
        padding: 11px; 
        width: 100%; 
        box-sizing: border-box; 
        color: black;
        position: fixed;
    }
    .sticky{
        background-color: white;
        margin-top: 47px;
    }
}

@media(min-width: 960px){
    .sidebarmedium1-menu-lg{
        display: block !important ;
    }
    .content{
        background-color: #EFF3F6;
        width: calc(100% - 14rem);
        float: left;
        display: table;
    }
    .navbar{
        background-color: #EFF3F6 !important; 
        padding: 11px; 
        width: 100%; 
        box-sizing: border-box; 
        color: black;
        position: fixed;
    }
    .overlay{
        display: none !important;
    }
}